<%- include('partials/header')  %>

<br>
<div class="container">
    <h2 class="text-center">Student List</h2><br>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Phone Number</th>
            <th scope="col" colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
            <% data.forEach(item => { %>
            <tr>
                <td><%= item.first_name %></td>
                <td><%= item.last_name %></td>
                <td><%= item.gender %></td>
                <td><%= item.phone_number %></td>
                <td><a href="/images/<%=item.path_photos%>" target="_blank">
                    <img width="70" height="60" border="0" align="center"  src="/images/<%=item.path_photos%>" class="img-thumbnail"/>
                  </a></td>
                <td><a href="/user/<%= item.id%>/edit">Edit</a> | <a href="/user/<%= item.id%>/delete">Delete</a> | <a href="/addPhoto/<%= item.id %>">Add Photo</a></td> 
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
</div>
<footer>
    <p class="text-center">&copy; Created by: Hacktiv8 - Pair Project Member</p>
  </footer>
</body>
</html>